@font-face {
    font-family: 'TT Lakes Bold';
    src: url(/src/fonts/TTLakes-Bold.ttf);
}
@font-face {
    font-family: 'TT Lakes Light';
    src: url(/src/fonts/TTLakes-Light.ttf);
}
@font-face {
    font-family: "TT Lakes Medium";
    src: url(/src/fonts/TTLakesMedium.ttf);
  }

body{
    background-color:#F8F8F8;
    font-family: "TT Lakes Light", serif;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
}
.header{
    background-color: #FFFFFF;
}
p{
    margin: 0;
}
h2{
    margin: 0;
}
main{
    margin-left: 0;
    
  }
  @media (min-width: 1400px) {
    main {
        margin-left: 320px;
    }
    body{
        width: 1440px; 
        margin: 0 auto;
    }
  }
a {
    text-decoration: none;
    color: #1B1C21;
  }
a:hover{
    color: #FF3E79;
}
ul {
    list-style: none;
    padding: 0;
}
p{
    margin: 0;
}
.btn-arrow{
    width:119px;
    height: 32px;
    border-radius: 16px;
    background-color: #FF3E79;
    color: #FFFFFF;
    border: none;
}
.btn-arrow-text{
    font-size: 12px; 
    font-family: "TT Lakes Medium", serif;
    font-weight: 700;
}
.bottom{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    border: none;
    cursor: pointer;
  }
.bottom:hover {
    opacity: 0.7;
}

.logo{
    display: block;
    height: 55px;
    width: 104px;
    background: url("../../src/img/logo.svg") no-repeat center center; 
}

.bottom-burger {
  background: #ff3e79 url(../../src/img/ic/icon.svg) no-repeat center center;
}
.bottom-call {
  background: #ff3e79 url(../../src/img/ic/call.svg) no-repeat center center;
}
.bottom-chat {
  background: #ff3e79 url(../../src/img/ic/chat.svg) no-repeat center center;
}
.bottom-profile {
  background: #ff3e79 url(../../src/img/ic/prof.svg) no-repeat center
    center;
}
.bottom-repair {
  background: #ff3e79 url(../../src/img/repair.svg) no-repeat center center;
}
.bottom-check {
  background: #ff3e79 url(../../src/img/ic/chek.svg) no-repeat center center;
}
.bottom-search {
  background: #ff3e79 url(/src/img/ic/ic/searsh.svg) no-repeat center
  center;
 }
 .bottom-close{
  display: none;
  background: #ff3e79 url(/src/img/ic/ic/clous.svg) no-repeat center center;
 }

  

  